<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
  </head>
  <body>
      <section class="hero is-primary">
          <div class="hero-body">
              <div class="container">
                  <div class="columns is-vcentered">
                      <div class="column">
                          <h1 class="title">Gabriel's Blog</h1>
                          <p class="subtitle">For testing purposes only</p>
                      </div>
                  </div>
              </div>
          </div>
      </section>

      <section class="section">
          {% for post in posts %}
                <div class="content">
                    <h1><a href="">{{ post.title }}</a></h1>
                    <p>published: {{ post.published_date }}</p>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
            {% endfor %}
      </section>
  </body>
</html>